<nav class="fixed w-full top-0 bg-fuchsia-800 z-10 py-4">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center justify-center w-full">
        <div class="flex-1 flex items-center justify-center">
          <%= link_to 'Tienda', root_path, class: "text-white hover:underline py-2 rounded-md text-md font-medium lg:mr-0 lg:inline-block" %>
        </div>
        <div class="flex-shrink-0 flex items-center">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: 'block lg:hidden h-20 w-auto mx-auto' %>
          <% end %>
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: 'hidden lg:block h-20 w-auto mx-auto' %>
          <% end %>
        </div>
        <div class="flex-1 flex items-center justify-center lg:justify-center">
          <%= link_to cart_path, class: "text-white hover:underline py-2 rounded-md text-md font-medium lg:ml-0 lg:inline-block" do %>
            <%= icon 'fa-solid', 'shopping-cart' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
